@model AutoMapper.ViewModels.StudentViewModel
@{
    ViewBag.Title = "Index";
}

<p>Full Name: @Model.FullName</p>
<p>Average grade: @Model.AverageGrade</p>
<p>Registration date: @Model.RegistrationDate</p>