<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServiceCalculator" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ServiceCalculator.svc/localhost"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceCalculator"
                contract="ServiceCalculator.IServiceCalculator" name="WSHttpBinding_IServiceCalculator">
                <identity>
                    <userPrincipalName value="Shtaiga\Zaeka" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>