@model DisplayEditorTemplates.Models.SongModel

<div>
    <div><strong>Title:</strong> @Model.Title</div>
    <div><strong>Author:</strong> @Model.Author</div>
    <div><strong>Date:</strong> @Model.Date</div>
    <div><strong>Length:</strong> @Model.Length</div>
</div>